body {
    background-color: goldenrod
}
.card {
    background-color: aqua;
    padding: 10px;
    border: dashed black 10px;
    display: flex;
    flex-flow: row-reverse wrap ;
    margin: 20px;
}
#studentList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#sortingBtn {
    background-color: black;
    color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;

}
